{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Reset password{% endblock %}
	
{% block body_block %}
	<div class="page-header">
    	<h1> Reset password </h1>
    </div>

    <div>
		<form role="form" id="reset_form" method="post" action="/rango/password_reset/">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" size="50" />
			<br/>
			Password: <input type="password" name="password" value="" size="50" />
			<br/>
			New password: <input type="text" name="new_password" value="" size="50" />
			<br/><br/>
			<button class="btn btn-primary" type="submit" name="submit">Reset password</button>
		</form>

		{% if reset %}
		<br/>
		Your password has been reset.
		<br/><a href="/rango/login/"> Login </a>
		{% else %}
		<br/>
		Either your username or password was incorrect or you have not submitted a request yet. Please try again. 
		{% endif %}
	</div>
	
{% endblock %}
